@font-face {
  font-family: 'nokia_pure_headlineregular';
  src: url("../fonts/nokiapureheadline_regular-webfont.woff2") format("woff2"), url("../fonts/nokiapureheadline_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nokia_pure_headlinelight';
  src: url("../fonts/nokiapureheadline_light-webfont.woff2") format("woff2"), url("../fonts/nokiapureheadline_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nokia_pure_headlineultraLt';
  src: url("../fonts/nokiapureheadline_ultralight-webfont.woff2") format("woff2"), url("../fonts/nokiapureheadline_ultralight-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'lemonmilk-bold';
  src: url("../fonts/lemonmilk-bold-webfont.woff2") format("woff2"), url("../fonts/lemonmilk-bold-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
.yel {
  background: #ffcc00; }

.blu {
  background: #0e376b; }

.wht {
  background: #ffffff; }

.blk {
  background: #333333; }

.lbl {
  background: #69abff; }

body {
  background: #ffffff;
  font-family: "nokia_pure_headlinelight";
  margin: 0;
  padding: 0; }
  body .container-fluid {
    padding: 0; }
  body .backtop {
    color: #0e376b;
    float: right;
    margin-right: 3rem;
    font-size: 12px; }

.zl-header {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.9em;
  height: 48vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  padding: 1.3em;
  position: relative; }
  .zl-header .zl-main {
    background: #333333;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }
    .zl-header .zl-main .zl-slideshow {
      background: #333333;
      margin: 0;
      padding: 0;
      list-style: none; }
      .zl-header .zl-main .zl-slideshow .zl-slide {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; }
        .zl-header .zl-main .zl-slideshow .zl-slide.sleep {
          opacity: 0; }
        .zl-header .zl-main .zl-slideshow .zl-slide .zl-main-img {
          width: 100%; }
  .zl-header .zl-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .zl-header .zl-navbar .zl-menu {
      color: inherit;
      margin-right: 1em; }
    .zl-header .zl-navbar .zl-logo {
      width: 11em; }
    .zl-header .zl-navbar .zl-navmenu {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0; }
      .zl-header .zl-navbar .zl-navmenu .zl-navlink {
        color: inherit;
        padding: 4px 1em;
        margin: 0; }
        .zl-header .zl-navbar .zl-navmenu .zl-navlink.go-button {
          color: #0e376b;
          background: #ffcc00;
          border-radius: 5px;
          margin-left: 1em;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
          -webkit-transition: 0.3s ease all;
          transition: 0.3s ease all; }
          .zl-header .zl-navbar .zl-navmenu .zl-navlink.go-button:hover, .zl-header .zl-navbar .zl-navmenu .zl-navlink.go-button:active {
            background: #69abff;
            text-decoration: none; }
        .zl-header .zl-navbar .zl-navmenu .zl-navlink .zl-navitem {
          font-size: 0.9em;
          margin-bottom: -2px; }
  .zl-header .zl-quote {
    text-align: center;
    font-family: "nokia_pure_headlineultraLt";
    margin-top: 4em; }
    .zl-header .zl-quote h1 {
      font-size: 2.5rem; }
    .zl-header .zl-quote h6 {
      font-size: 1rem;
      font-style: italic; }
  .zl-header .zl-compliance .zl-separator {
    display: block;
    text-align: center;
    margin: 0; }
    .zl-header .zl-compliance .zl-separator img {
      display: inline-block;
      width: 4em; }
  .zl-header .zl-compliance .zl-comp-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family: "nokia_pure_headlineultraLt";
    list-style: none;
    margin: 4vw 12vw;
    padding: 0; }
    .zl-header .zl-compliance .zl-comp-items li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 240px;
      font-size: 1.1em;
      line-height: 1.1; }
      .zl-header .zl-compliance .zl-comp-items li img {
        width: 1.4em;
        margin-right: 1em; }
      .zl-header .zl-compliance .zl-comp-items li span {
        font-size: 0.9em; }
  .zl-header .zl-header-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .zl-header .zl-header-copyright span {
      font-size: 0.75em; }
    .zl-header .zl-header-copyright figure {
      margin: 0;
      margin-right: 5px;
      width: 7em; }
      .zl-header .zl-header-copyright figure img {
        width: 100%; }

.zl-description h2 {
  color: #0e376b;
  font-size: 24px;
  font-family: "nokia_pure_headlineultraLt";
  text-align: center;
  margin: 2.5em auto 0; }
  .zl-description h2 img {
    display: inline-block;
    height: 0.75em;
    vertical-align: baseline;
    margin-bottom: -1px; }
.zl-description #paragraph {
  font-size: 16px;
  margin: 3em; }
  .zl-description #paragraph strong {
    font-family: "nokia_pure_headlinelight"; }

.zl-sandf {
  background: url("../img/zl-sanf-backround.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 6em 0 0;
  padding: 3em;
  position: relative; }
  .zl-sandf .zl-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .zl-sandf .zl-stats figure {
      margin: 0;
      padding: 1em;
      width: 22em;
      position: relative; }
      .zl-sandf .zl-stats figure span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: white;
        font-family: "lemonmilk-bold";
        font-size: 2em;
        font-size: 2em;
        position: absolute;
        text-align: center;
        width: 3.9em;
        left: 0.5em;
        top: 0.5em;
        height: 3.1em; }
        .zl-sandf .zl-stats figure span i {
          font-style: normal; }
      .zl-sandf .zl-stats figure img {
        width: 100%;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); }
  .zl-sandf .zl-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .zl-sandf .zl-features .zl-feature-item {
      margin: 0 2em;
      width: 8em; }
  .zl-sandf .backtop {
    position: absolute;
    bottom: 1em;
    right: 0; }

.zl-footer {
  background: #0e376b;
  font-family: "nokia_pure_headlineultraLt";
  color: #ffffff;
  font-size: 12px;
  line-height: 1.4; }
  .zl-footer .zl-cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 2em;
    padding: 4em 0 2em; }
    .zl-footer .zl-cols h4 {
      font-weight: 200;
      color: #69abff;
      -webkit-margin-after: 0.6em;
              margin-block-end: 0.6em; }
    .zl-footer .zl-cols div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      width: 20vw; }
    .zl-footer .zl-cols .zl-f-col1 img {
      width: 7em; }
    .zl-footer .zl-cols .zl-f-col1 p {
      margin: 1em 0; }
    .zl-footer .zl-cols .zl-f-col2 span a {
      font-size: 1.5em;
      color: #69abff; }
    .zl-footer .zl-cols .zl-f-col3 {
      width: 12vw; }
      .zl-footer .zl-cols .zl-f-col3 ul {
        list-style: none;
        padding: 0; }
        .zl-footer .zl-cols .zl-f-col3 ul a {
          color: white;
          margin-bottom: 2em; }
          .zl-footer .zl-cols .zl-f-col3 ul a li {
            margin-bottom: 1em; }
    .zl-footer .zl-cols .zl-f-col4 form {
      display: block;
      width: 100%; }
      .zl-footer .zl-cols .zl-f-col4 form #inputmail {
        position: relative; }
        .zl-footer .zl-cols .zl-f-col4 form #inputmail::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f0e0";
          position: absolute;
          bottom: 0.75em;
          left: 0.5em;
          color: gray; }
      .zl-footer .zl-cols .zl-f-col4 form .zl-input-email {
        display: block;
        width: 100%;
        margin-bottom: 0.5em;
        border: none;
        border-radius: 3px;
        padding: 4px 0.25em 4px 2em; }
      .zl-footer .zl-cols .zl-f-col4 form .zl-input-button {
        float: right;
        color: #0e376b;
        background: #69abff;
        border-radius: 3px;
        border: none;
        padding: 4px 1em;
        -webkit-transition: 0.3s ease all;
        transition: 0.3s ease all; }
        .zl-footer .zl-cols .zl-f-col4 form .zl-input-button:hover, .zl-footer .zl-cols .zl-f-col4 form .zl-input-buttonactive {
          background: #ffcc00;
          text-decoration: none; }
  .zl-footer .zl-bottom {
    margin: 0 3rem;
    border-top: 1pt solid rgba(255, 255, 255, 0.5);
    padding-top: 0.5em;
    padding-bottom: 4rem; }
    .zl-footer .zl-bottom .zl-footer-copyright {
      float: right; }
    .zl-footer .zl-bottom .zl-social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 2em;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 20px; }
      .zl-footer .zl-bottom .zl-social a {
        background: #69abff;
        color: #0e376b;
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 0 8px;
        border-radius: 50%;
        text-align: center;
        -webkit-transition: 0.3s ease all;
        transition: 0.3s ease all; }
        .zl-footer .zl-bottom .zl-social a i {
          display: block;
          font-size: 22px;
          margin: 4px; }
        .zl-footer .zl-bottom .zl-social a:hover, .zl-footer .zl-bottom .zl-social aactive {
          background: #ffcc00;
          text-decoration: none; }

@media screen and (max-width: 671px) {
  .zl-header {
    height: 82vw; }
    .zl-header .zl-main .zl-slideshow .zl-slide .zl-main-img {
      width: 150%;
      -webkit-transform: translateX(-25%);
              transform: translateX(-25%); }
    .zl-header .zl-navbar .zl-logo {
      width: 9em;
      margin-top: -2px; }
    .zl-header .zl-navbar .zl-navmenu .zl-navlink {
      display: none; }
      .zl-header .zl-navbar .zl-navmenu .zl-navlink.go-button {
        display: initial; }
        .zl-header .zl-navbar .zl-navmenu .zl-navlink.go-button i {
          margin-right: -6px; }
        .zl-header .zl-navbar .zl-navmenu .zl-navlink.go-button span {
          display: none; }
    .zl-header .zl-quote {
      margin-top: 2em; }
      .zl-header .zl-quote h1 {
        font-size: 1.2rem; }
      .zl-header .zl-quote h6 {
        font-size: 0.7rem; }
    .zl-header .zl-compliance .zl-comp-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .zl-header .zl-compliance .zl-comp-items li {
        width: 100%;
        font-size: 0.85em;
        margin-bottom: 0.85em; }
    .zl-header .zl-header-copyright figure {
      width: 5.5em; }

  .zl-description h2 {
    margin: 1.5em 0 0; }
  .zl-description #paragraph {
    margin: 2rem; }

  .zl-sandf {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 4em 0 0 0;
    padding: 2rem 2rem 4rem; }
    .zl-sandf .zl-features {
      margin-top: 1rem; }
      .zl-sandf .zl-features div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }

  .zl-footer .zl-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .zl-footer .zl-cols div {
      width: 100%;
      margin-bottom: 2em; }
    .zl-footer .zl-cols .zl-f-col1 {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .zl-footer .zl-cols .zl-f-col1 p {
        margin: 0.5em 0 0; }
        .zl-footer .zl-cols .zl-f-col1 p br {
          display: none; }
    .zl-footer .zl-cols .zl-f-col2 span {
      -ms-flex-item-align: end;
          align-self: flex-end; }
    .zl-footer .zl-cols .zl-f-col3 {
      display: none; }
    .zl-footer .zl-cols .zl-f-col4 {
      margin-bottom: 0; }
      .zl-footer .zl-cols .zl-f-col4 .zl-contact {
        margin-bottom: 0; }
        .zl-footer .zl-cols .zl-f-col4 .zl-contact form #inputmail {
          margin-bottom: 0; }
          .zl-footer .zl-cols .zl-f-col4 .zl-contact form #inputmail::before {
            bottom: 1em; }
        .zl-footer .zl-cols .zl-f-col4 .zl-contact form .zl-input-email {
          padding: 8px 0.25em 8px 2em; }
  .zl-footer .zl-bottom {
    margin: 0 1.5rem; } }
@media screen and (max-width: 991px) {
  .zl-header .zl-navbar {
    font-size: 0.85em; }
  .zl-header .zl-quote h1 {
    font-size: 1.6rem; }
  .zl-header .zl-compliance .zl-comp-items li span {
    font-size: 0.8em; }
  .zl-header .zl-header-copyright figure {
    width: 5em; }

  .zl-sandf .zl-features div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }
@media screen and (min-width: 1366px) {
  .zl-header .zl-compliance .zl-comp-items li span {
    font-size: 1.1em; }

  .zl-middle-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .zl-description .backtop {
    display: none; }

  .zl-sandf {
    margin: 0; }
    .zl-sandf .zl-features div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

/*# sourceMappingURL=zina_landing.css.map */